<launch>
    <node name="uav_command_node" pkg="hccommand" type="hccommand_node" output="screen">
    </node>
    <node pkg="mocap_optitrack" type="mocap_node" name="mocap_node" respawn="false" launch-prefix="" output="screen" required="true">
        <rosparam file="$(find mocap_optitrack)/config/mocap.yaml" command="load" />
        <remap from="/Robot_1/pose" to="/mavros/mocap/pose" />
    </node>
</launch>